h1 {
    font-size: 64px;
    text-align: center;
    color: #f1c3ee
}
h2 {
    color: rgb(202, 191, 234)
}

h3 {
    margin-top: 100px;
    
}

p i {
    font-size: 48px;
    color : blue;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.orange {
    color: orange;
}