#logo {
    margin-top: 80px
}
.main{
    font-weight:bold;
}
.text{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.text a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(88,89,91);
    font-family: "helvetica",Arial;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}