body {
    margin: 0;
  }



#div1{
    background-color: red;
    height: 60px;
    width: 100%;
    float: left;
}

#div2{
    background-color: orange;
    height: 350px;
    width: 100%;
    float: left;
}

#div3{
    background-color: yellow;
    height: 320px;
    width: 100%;
    float: left;
}

#div4{
    background-color: green;
    height: 385px;
    width: 100%;
    float: left;
}

#div5{
    background-color: blue;
    height: 200px;
    width: 100%;
    float: left;
}

#div6{
    background-color: #4b0082;
    height: 200px;
    width:100%;
    float : left;
}

@media (min-width: 768px){
    #div1{
        background-color: red;
        height: 60px;
        width: 100%;
        float: left;
    }
    
    #div2{
        background-color: orange;
        height: 562px;
        width: 100%;
        float: left;
    }
    
    #div3{
        background-color: yellow;
        height: 282px;
        width: 100%;
        float: left;
    }
    
    #div4{
        background-color: green;
        height: 360px;
        width: 50%;
        float: left;
    }
    
    #div5{
        background-color: blue;
        height: 180px;
        width: 50%;
        float: left;
    }
    
    #div6{
        background-color: #4b0082;
        height: 180px;
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px){
    #div1{
        background-color: red;
        height: 60px;
        width: 100%;
        float: left;
    }
    
    #div2{
        background-color: orange;
        height: 700px;
        width: 50%;
        float: left;
    }
    
    #div3{
        background-color: yellow;
        height: 350px;
        width: 50%;
        float: left;
    }
    
    #div4{
        background-color: green;
        height: 350px;
        width: 25%;
        float: left;
    }
    
    #div5{
        background-color: blue;
        height: 175px;
        width: 25%;
        float: left;
    }
    
    #div6{
        background-color: #4b0082;
        height: 175px;
        width: 25%;
        float: left;
    }
}